@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}

.alert-section {
  margin: 15px 0px;
}

.alert-text {
  text-align: center;
  font-size: 15px;
  border-radius: 0;
  padding: 8px;
  border-radius: 5px;
  color: white;
}

.alert-danger {
  background-color: rgb(238, 7, 7);
}

.alert-success {
  background-color: rgb(7, 238, 18);
}

.form-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  margin: 0 auto;
  max-width: 570px;
  width: 100%;
  background: white;
  border: 1px solid gray;
}

.head-image-section {
  width: 100%;
  height: 200px;
  display: inline-block;
}

.head-image-section img {
  width: 100%;
  object-fit: cover;
}

.form-section {
  display: grid;
  padding: 20px;
  gap: 15px
}

.form-input-flex {
  display: flex;
  gap: 20px;
}

.form-input-flex > div {
  width: 50%;
}

.form-label {
  color: #07074D;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  padding: 13px 15px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
}

.form-input::placeholder,
select.form-input {
  color: rgba(83, 99, 135, 0.5);
}

.form-input:focus {
  border-color: #177200;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.form-file-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-file-flex .form-label {
  margin-bottom: 0;
}

.form-file-input {
  font-size: 14px;
  line-height: 24px;
  color: #536387;
}

.form-file-input::-webkit-file-upload-button {
  display: none;
}

.form-file-input:before {
  content: 'Upload file';
  display: inline-block;
  background: #EEEEEE;
  border: 0.5px solid #FBFBFB;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 3px 12px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  color: #637381;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-right: 10px;
}

.form-btn {
  text-align: center;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #177200;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}

.form-btn:disabled {
  background-color: #6c757d;
  color: #ffffff; 
  opacity: 0.65;
  border: 1px solid #ccc;
  pointer-events:none;
  cursor: not-allowed;
}

.form-btn:disabled:hover {
  background-color: #6c757d;
}

.form-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
