<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Job Application</title>
</head>
<body>
  <div class="form-main-wrapper"></div>
    <div class="form-wrapper">
      <div class="head-image-section">
        <img src="/static/images/head-image.jpg" width="800" height="200" />
      </div>
      <form action="/" method="POST" enctype="multipart/form-data" class="form-section">
        <% if ((typeof alert != "undefined")) { %>
          <div class="alert-section">
            <a
              class="alert-text alert-<%= alert.class %>"
              ><%= alert.text %></a
            >
          </div>
        <% } %>
        <div class="form-input-flex">
          <div>
            <label for="firstname" class="form-label"> First Name </label>
            <input
              type="text"
              name="firstname"
              id="firstname"
              placeholder="Your first name"
              class="form-input"
              required
            />
          </div>
          <div>
            <label for="lastname" class="form-label"> Last Name </label>
            <input
              type="text"
              name="lastname"
              id="lastname"
              placeholder="Your last name"
              class="form-input"
              required
            />
          </div>
        </div>
        <div>
            <label for="email" class="form-label"> Email </label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="example@email.com"
              class="form-input"
              required
            />
        </div>
        <div>
            <label for="phone" class="form-label"> Phone </label>
            <input
              type="text"
              name="phone"
              id="phone"
              placeholder="Phone number"
              class="form-input"
              required
            />
        </div>
        <div>
          <label for="role" class="form-label"> Applying for Position: </label>
          <select
            name="role"
            id="role"
            required
            class="form-input"
          >
            <option value="">Select Position</option>
            <option value="Full Stack Developer">Full Stack Developer</option>
            <option value="Frontend Developer">Frontend Developer</option>
            <option value="Backend Developer">Backend Developer</option>
            <option value="Mobile Developer">Backend Developer</option>
          </select>
        </div>
        <div>
          <label for="cover_latter" class="form-label">Cover Letter</label>
          <textarea
            rows="6"
            name="cover_latter"
            id="cover_latter"
            class="form-input"
            required
          ></textarea>
        </div>
        <div class="form-file-flex">
          <label for="resume_file" class="form-label">
            Upload Resume
          </label>
          <input
            type="file"
            name="resume_file"
            id="resume_file"
            class="form-file-input"
            accept=".pdf, .doc, .docx"
            required
          />
        </div>
        <button class="form-btn">Apply Now</button>
      </form>
    </div>
  </div>
  <script>
       document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('.form-section');
        const submitButton = document.querySelector('.form-btn');

        form.addEventListener('submit', function(event) {
          // Butonu devre dışı bırak
          submitButton.disabled = true;
          // Butonun üzerine "Gönderiliyor..." gibi bir metin ekleyebilirsiniz
          submitButton.textContent = 'Sending...';
        });
      });
  </script>
</body>
</html>